@charset "utf-8";
/*
   Sample start files #2 is a 2-column fixed layout provided in CMIS 410
   For educational purposes only
  Name:
	Date:
*/

*	{ padding: 0; 
		margin: 0;
}


body { font-size: 1.1em; 
		font-family: Arial, Helvetica, sans-serif; 
		background-color: gray;
}


#container { width: 930px; 
				border-width: 1px; 
				margin: 0 auto; 
				background-color: #2196f3;
}


#header { width: 910px; 
			margin: 0 0 10px 0; 
			padding: 10px; 
			background-color: #2196f3; 
			height: 220px;
}

#header img {
	padding-left: 170px;
}

#navbar { width: 910px; 
			margin: 0 0 10px 0; 
			padding: 10px; 
			background-color: silver; 
			height: 25px;
}


#sidebar { width: 200px; 
			margin: 0 10px 10px 0; 
			padding: 10px; 
			background-color: #00f3ff; 
			float: left; 
			height: 400px;
}


#main { width: 680px; 
		margin: 0 0 10px 0; 
		padding: 10px; 
		background-color: #9bdce2;
		float: right; 
		height: 400px;
}


#footer { width: 910px; 
			padding: 10px; 
			background-color: #2196f3;; 
			clear: both; 
			height: 75px;
}